*,*::before,*::after,*:before,*:after{
    box-sizing:border-box;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
header img{
    width: 128px;
    height: 100px;
}
nav ul{
    list-style:none;
    text-align: left;
    visibility: visible
}
header>nav{
    /* display: none; */
}
div>nav{
   visibility: hidden;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
footer {
    background-color: #333;
    color: #fff;
    font-size: 16px;
}