*,*::before,*::after,*:before,*:after{
    box-sizing:border-box;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
header img{
    width: 128px;
    height: 100px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
li{
    border-collapse: none;
    border-style: ridge;
    border-color: goldenrod;
    
}
li a{
    text-decoration-line: none; 
    background-color: #333;
    color: #fff;
    font-size: 2rem;
}

header>nav{
    visibility: hidden;
    
}
div>nav{
    visibility: visible;
    background-color: grey;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
footer {
    background-color: #333;
    color: #fff;
    font-size: 16px;
}